ul{
  padding: 0px;
  margin: 0px;
}
li{
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.699);
  padding: 13px;
  margin-left: 10px;
  border:solid 1px lightgray;
  border-radius: 3px;
  list-style-type: none;
  width: 800px;
  cursor: pointer;
}

li:hover{
  background-color: lightgrey;
}

