<div class="title-area">
  <h1>{{title}}</h1>
</div>

<div class="colors-area">
  <app-list-picker
  [selectedItem]="selectedColor" [list]="colors"
  (itemSelected)="selectColor($event)"
  ></app-list-picker>
</div>

<div class="sizes-area">
  <app-list-picker
  [selectedItem]="selectedSize" [list]="sizes"
  (itemSelected)="selectSize($event)"
  ></app-list-picker>
</div>

<div class="fonts-area">
  <app-list-picker
  [selectedItem]="selectedFont" [list]="fonts"
  (itemSelected)="selectFont($event)"
  ></app-list-picker>
</div>

<div class="text-area">
  <textarea [style.font-size]="selectedSize" [style.color]="selectedColor" [style.font-family]="selectedFont"></textarea>
</div>


