<form [formGroup]="personForm" (ngSubmit)="save()">
  <div>
    Name:<input formControlName="name">
  </div>

  <div>
    <label>ID:</label>
    <input type="number" formControlName="id">
  </div>

  <div class="emails" formGroupName="emails">

    <div>
      E-mail:<input formControlName="email">
    </div>

    <div>
      Confirm E-mail:<input formControlName="emailConfirm">
    </div>

  </div>

  <div class="countries" formGroupName="countries">

    <div>
      Origin Country:<select formControlName="originCountry">
        <option> Israel</option>
        <option> USA</option>
        <option> China</option>
      </select>
    </div>

    <div>
      Destination Country:<select formControlName="destinationCountry">
        <option> Israel</option>
        <option> USA</option>
        <option> China</option>
      </select>
    </div>

  </div>

  <button [disabled]="personForm.invalid">Save</button>
</form>
