<div class="title-area">
  <h1>Pop Quiz!</h1>
</div>

<div class="main-area">

  <button *ngIf="!hasTestStarted"
  (click)='hasTestStarted=true'>
  Start Test!</button>

  <app-question-presenter

   *ngIf="!isTestDone && hasTestStarted"
    [currentQuestion]="questions[currentQuestionIndex].caption"
    [answers]="questions[currentQuestionIndex].answers"
    (chosenAnswer) ="onChoice($event)"
   >
  </app-question-presenter>

  <app-quiz-over
  *ngIf="isTestDone"
  [score]="score"
  [nOfQuestions]="questions.length"
  (setReplayAnswer)="isTestDone=true"
  >
  </app-quiz-over>

</div>

<div class="summary-area">
  <app-summary></app-summary>
</div>
