:host{
  display: grid;
  grid-template-columns:7fr 3fr ;
  grid-template-rows: auto 1fr;
}

 button{
  padding: 20px;
  border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
  cursor: pointer;
}

button:hover{
  background-color: rgb(175, 175, 175);
}

div{
  border: 1px solid gray;
  margin:1px;
  border-radius: 6px;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:3px;
}

.title-area{
  grid-column: 1/-1;
  background-color: rgb(255, 213, 151);
}

.main-area{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 255, 226);
}

.summary-area{
  background-color: rgb(255, 215, 238);
}
