div{
  margin: 20px;
}

.things{
  display: flex;
  flex-direction: row;
}
button{
  font-size: 20px;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: fit-content;
  background-color: cornflowerblue;
}

button:hover{
  background:  rgb(63, 99, 167);
}

p{
  border: 3px black solid;
  width: fit-content;
  padding: 5px;
}

.five-plus{
  background: blue;
  color: white;
}

li{
  list-style: none;
  width: fit-content;
}
